/* penis */

/**************/
/* CSS REMEDY */
/**************/

*
*::after,
*::before {
	box-sizing: border-box;
}

button,
summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
	/* startje */
	--color-text: rgb(22, 22, 22);
	--color-background: #ffffff;
	--color-background-light-grey: #f1f1f1;
	--color-background-dark-grey: #999999;
	--color-background-dark: #222222;
	--color-overlay: #794d4d;

	--text-size-h1: 48px;
	--text-size-h2: 24px;
	--text-size-p: 16px;
	--text-size-footer: 14px;
	--text-size-small: 12px;

	--img-size-medium: 18.75rem;
}

/****************/
/* GLOBAL STYLING */
/****************/

details summary::-webkit-details-marker {
	display:none;
  }

@font-face {
	src: url("../font/Futura_Condensed_Extra_Bold.otf");
	font-family: Futura Bold;
}

@font-face {
	src: url("../font/BebasNeue-Regular.ttf");
	font-family: Nike TG;
}

body {
	color: var(--color-text);
	background-color: var(--color-background);
	margin: 0;
	transition:transform .3s;
}

body.toonFilter {
	overflow: hidden;
}

body.toonFilter .PageTwo section:nth-of-type(1) div:nth-of-type(1) > div:nth-of-type(2) {
	transform:translateY(0%);
	transition:transform .3s;
	animation-timing-function: ease-in;
	transition-delay: .1s;
}

Body.toonFilter2 .PageTwo section:nth-of-type(3) > div {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1rem;
	position: relative;
	transition:transform .3s;
}

Body.toonFilter2 .PageTwo section:nth-of-type(3) > div:nth-of-type(1) div:nth-of-type(1) {
	background-color: var(--color-background);
	transition:transform .3s;
	transform:translatex(0%);
	animation-timing-function: ease;
	overflow: auto;
	position: sticky;
    top: 2rem;
    height: 92vh;
	visibility: visible;
}

Body.toonFilter2 .PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) > button:first-of-type::before  {
	content: "Verberg\00a0" ;
}

body.toonMenu {
	overflow: hidden;
}

body.toonMenu .PageOne section:first-of-type {
	z-index: -1;
}

body.toonMenu .PageTwo section:nth-of-type(1) > div:nth-of-type(2) {
	overflow: hidden;
}

body.toonMenu header:nth-of-type(2) > nav:nth-of-type(1) nav {
	transform:translatex(0);
	transition:transform .3s;
	animation-timing-function: ease-in;
	transition-delay: .1s;
}

body.toonMenu  header:nth-of-type(2) > nav:nth-of-type(1)::before {
	background-color: rgba(0, 0, 0, 0.5);
}

h1 {
	font-family: Futura Bold, "Helvetica Neue";
	font-size: var(--text-size-h1);
	text-transform: uppercase;
	color: var(--color-text);
	letter-spacing: -2px;
	margin: 0;
}

h2 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: var(--text-size-h2);
	font-weight: 400;
}

h3 {
	font-family: "Nike TG", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: var(--text-size-p);
	letter-spacing: 1px;
	text-transform: uppercase;
}

p,
a,
h4,
button,
details,
summary {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: var(--text-size-p);
}

a {
	text-decoration: none;
}

.PageOne /*  Main Margin eerste pagina */ {
	margin: 6%;
	position: relative;
}

header img:hover,
header a:hover  {
	opacity: .5;
}


/****************/
/* HEADERS */
/****************/

header a {
	color: var(--color-background-dark);
}

header:first-of-type {
	position: relative;
	display: none;
	background-color: var(--color-background-light-grey);
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 0 6%;
}

header:first-of-type div {
	justify-self: flex-start;
}

header:first-of-type nav {
	display: flex;
	justify-self: flex-end;
	flex-direction: row;
}

header:first-of-type div img {
	width: 24px;
	margin: 0.2rem 0.5rem;
}

header:first-of-type nav a {
	font-size: var(--text-size-small);
	margin: 0.2rem 0.4rem;
	padding-right: 0.6rem;
	border-right: 1px solid var(--color-background-dark);
}

header:first-of-type nav a:last-of-type {
	padding-right: 0;
	border-right: 0;
}

header:nth-of-type(2) nav:nth-of-type(1) {
	display: flex;
	justify-content: flex-end;
	margin: 5px 6%;
	transition: all .3s;
	background-color: rgba(0, 0, 0, 0);
}

header:nth-of-type(2) > nav:nth-of-type(1)::before {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0);
	transition: .3s;
	pointer-events: none;
}

header:nth-of-type(2) nav:nth-of-type(1) nav {
	z-index: 2;
	margin: 0;
	padding: 1rem 8% 0 7rem;
	position: fixed;
	right:0;
	top:0;
	bottom:0;
	background-color: var(--color-background);
	transform:translatex(107%);
	transition:transform .3s;
	animation-timing-function: ease;
}

header:nth-of-type(2) nav:nth-of-type(1) nav ul { 
	margin: 0;
	gap: 1rem;
	list-style:none;
	display: flex;
	flex-direction: column;
	text-align: right;
}

header:nth-of-type(2) nav:nth-of-type(1) nav ul li{ 
	display: flex;
    list-style: none;
    justify-content: flex-end;
}

header:nth-of-type(2) nav:first-of-type nav ul li a  {
	margin: 0rem;
}

header:nth-of-type(2) nav:first-of-type nav ul li a img{
	margin: 0;
	width: 1.4rem;
}

header:nth-of-type(2) nav:nth-of-type(1) button {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: transparent;
	border: none;

	padding: 0;
	margin: 0.8rem;
    width: 1.4rem;
	height: 1.4rem;
}

header:nth-of-type(2) nav:first-of-type nav:first-of-type ul:first-of-type li:first-of-type button:first-of-type {
	margin: 0;
	justify-content: center;
}

header:nth-of-type(2) nav:first-of-type nav:first-of-type ul:first-of-type li:first-of-type button:first-of-type span:nth-of-type(1) {
	transform: rotate(45deg);
}

header:nth-of-type(2) nav:first-of-type nav:first-of-type ul:first-of-type li:first-of-type button:first-of-type span:nth-of-type(2) {
	transform: rotate(-45deg);
}

header:nth-of-type(2) h2 {
	margin: 0;
	font-weight: 500;
}

header:nth-of-type(2) nav:first-of-type button span{
	width: 100%;
	height: .15em;
	background: black;
	transform-origin: 45% 47%;
}

header:nth-of-type(2) nav:nth-of-type(2) {
	display: none;
	justify-content: flex-end;
	margin: 5px 6%;
	align-items: center;
	min-height: 60px;
}

header:nth-last-of-type(2) nav:nth-of-type(2) div {
	display: flex;
	align-items: center;
	text-align: center;
	width: auto;
	height: 60px;
	gap: 1rem;

	/* dit zorgt ervoor dat het in het midden staat van de overige plek op de display flex */
	margin-left: auto;
	margin-right: auto;
}


header:nth-last-of-type(2) nav:nth-of-type(2) button {
	background-color: var(--color-background-light-grey);
	color: var(--color-background-dark-grey);
	border-radius: 25px;
	border: none;
	font-weight: 500;
	display: flex;
	align-items: center;
	padding: 1rem 3rem 1rem 1rem;
	max-height: 40px;
}

header:nth-last-of-type(2) nav:nth-of-type(2) button img {
	width: 24px;
	margin: 0 2rem 0 -2px;
}

header:nth-of-type(2) nav a:first-of-type  {
	justify-self: flex-start;
	margin-right: auto;
}

header:nth-of-type(2) nav a:first-of-type img {
	width: 3.75rem;
}


header:nth-of-type(2) nav a img{ 
	margin: 0.8rem;
	width: 1.4rem;
}

header:last-of-type {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-background-light-grey);
	margin: 0;
	padding-bottom: 0.8rem;
	line-height: 0.5;
}

header:last-of-type p {
	font-size: var(--text-size-p);
	color: var(--color-text);
}

header:last-of-type a {
	font-size: var(--text-size-small);
	text-decoration: underline;
	color: var(--color-text);
}

/****************/
/* Page One */
/****************/

/*************/
/* Section 1 */
/************/

.PageOne section:first-of-type {
	position: relative;
}


.PageOne section:first-of-type img {
	width: 0.8rem;
	height: 0.8rem;
}

.PageOne section:first-of-type video {
	width: 100%;
	height: 28rem;
	object-fit: cover;
}

.PageOne section:first-of-type button {
	background-color: var(--color-background-dark);
	color: var(--color-background);
	padding: 1rem 1.5rem;
	border-radius: 25px;
	border: none;
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	transition: 1s;
}

.PageOne section:first-of-type button.weg {
	display: none;
}

/*************/
/* Section 2 */
/************/

.PageOne section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem 0 6rem 0;
	text-align: center;
}

.PageOne section:nth-of-type(2) p:first-child {
	margin-bottom: 0.1rem;

}

.PageOne section:nth-of-type(2) p:last-child {
	margin-top: 0.8rem;
}

.PageOne section:nth-of-type(2) a {
	background-color: var(--color-background-dark);
	color: var(--color-background);
	padding: 1rem 3rem;
	border-radius: 25px;
	border: none;
	font-weight: 500;
	margin-top: 2rem;
}

/*****************/
/* Section 3 & 5 */
/*****************/

.PageOne section:nth-of-type(3),
.PageOne section:nth-of-type(5) {
	padding-bottom: 1rem;
}

.PageOne section:nth-of-type(3) div,
.PageOne section:nth-of-type(5) div {
	display: flex;
	overflow-x: auto;
	gap: 1rem;
	padding-bottom: 2rem;
}

.PageOne section:nth-of-type(3) article,
.PageOne section:nth-of-type(5) article {
	margin: 0;
}

.PageOne section:nth-of-type(3) article img,
.PageOne section:nth-of-type(5) article img  {
	width: var(--img-size-medium);
	height: var(--img-size-medium);
}

.PageOne section:nth-of-type(3) article h3,
.PageOne section:nth-of-type(5) article h3 {
	margin: 1rem 0 0 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	color: var(--color-background-dark);
}

.PageOne section:nth-of-type(3) article h4,
.PageOne section:nth-of-type(5) article h4 {
	color: var(--color-background-dark-grey);
	margin: 0.3rem 0 0 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.PageOne section:nth-of-type(3) article p,
.PageOne section:nth-of-type(5) article p {
	font-size: 14px;
	margin: 0.3rem 0 0 0;
	color: var(--color-background-dark);
}

/*************/
/* Section 4 */
/*************/

.PageOne section:nth-of-type(4) {
	margin-top: 5rem;
	grid-auto-flow: dense;

}

.PageOne section:nth-of-type(4) ul {
	display: grid;
	flex-direction: column;
	column-count: 1;

	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	gap: 0.8rem;

}

.PageOne section:nth-of-type(4) ul li {
	position: relative;
	list-style-type: none;
	background-color: var(--color-overlay);
	margin: 0rem;
	padding: 0rem;
	gap: 0.8rem;
	font-size: 0;
}

.PageOne section:nth-of-type(4) ul li img {
	width: 100%;
	height: 100%;
	opacity: 80%;
	object-fit: cover;
}

.PageOne section:nth-of-type(4) ul li p {
	position: absolute;
	bottom: 5rem;
	left: 1.5rem;
	color: var(--color-background);
}

.PageOne section:nth-of-type(4) ul li a {
	background-color: var(--color-background);
	color: var(--color-background-dark);
	padding: 0.6rem 2rem 0.6rem 1.5rem;
	border-radius: 25px;
	border: none;
	font-weight: 500;
	position: absolute;
	bottom: 1.5rem;
	left: 1.5rem;
}

/*************/
/* Section 6 */
/************/

.PageOne section:nth-of-type(6) {
	margin-top: 5rem;
}

.PageOne section:nth-of-type(6) img {
	width: 100%;
	height: 30rem;
	margin-bottom: 0.8rem;
	object-fit: cover;
	object-position: 50% 0;
}

.PageOne section:nth-of-type(6) p {
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.PageOne section:nth-of-type(6) a {
	background-color: var(--color-background-dark);
	color: var(--color-background);
	padding: 1rem 1.5rem;
	border-radius: 25px;
	font-weight: 500;
}


/*************/
/* Section 7 */
/************/

.PageOne section:nth-of-type(7) {
	margin-top: 5rem;
	grid-auto-flow: dense;

}

.PageOne section:nth-of-type(7) ul {
	display: grid;
	column-count: 1;
	flex-direction: column;

	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
	gap: 0.8rem;
}

.PageOne section:nth-of-type(7) ul li {
	display: flex;
	position: relative;
	list-style-type: none;
	background-color: var(--color-overlay);
	margin: 0rem;
	padding: 0rem;
	gap: 0.8rem;
	font-size: 0;
	justify-content: center;
}

.PageOne section:nth-of-type(7) ul li img:first-of-type {
	width: 100%;
	height: 31.25rem;
	opacity: 80%;
	object-fit: cover;
}

.PageOne section:nth-of-type(7) ul li img:last-of-type {
	height: 15%;
	border-radius: 15px;
	position: absolute;
	align-self: center;
}

.PageOne section:nth-of-type(7) ul li p {
	position: absolute;
	bottom: 5rem;
	left: 1.5rem;
	color: var(--color-background);
}

.PageOne section:nth-of-type(7) ul li a {
	background-color: var(--color-background);
	color: var(--color-background-dark);
	padding: 0.6rem;
	padding-right: 2rem;
	padding-left: 1.5rem;
	border-radius: 25px;
	border: none;
	font-weight: 500;
	position: absolute;
	bottom: 1.5rem;
	left: 1.5rem;
}

/****************/
/* Page Two */
/****************/

/*************/
/* Section 1 */
/************/

.PageTwo section:nth-of-type(1) {
	margin: .5rem 4% .4rem 4%;
	position: relative;
}

.PageTwo section:nth-of-type(1) p {
	font-size: var(--text-size-footer);
}

.PageTwo section:nth-of-type(1) > div:nth-of-type(1)  {
	display: flex;
	justify-content: flex-start;
    align-items: center;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) > div:nth-of-type(1) {
	margin-left: auto;
	display: none;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) h2 {
	font-size: 20px;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) > div:nth-of-type(2) {
	margin: 0;
	padding: 2.5rem 1.3rem 0 1.3rem;
	position: fixed;
	right:0;
	left: 0;
	top:0;
	bottom:0;
	background-color: var(--color-background);
	transform:translateY(101%);
	transition: all .3s;
	animation-timing-function: ease;
	overflow: auto;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) div {
	padding: 1.8rem 0;
	border-top: 1px solid lightgray;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) div:nth-of-type(1) {
	padding: 1.8rem 0;
	border-top: 0px solid lightgray;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) div:nth-of-type(6) {
	position: sticky;
	justify-content: center;
	display: flex;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--color-background);
	border-top: 1px solid lightgray;
	padding: 0;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) div:nth-of-type(6) > button:nth-of-type(1) {
	background-color: var(--color-background);
	color: var(--color-background-dark);
	padding: 1rem 18%;
	border-radius: 25px;
	border: 1px solid lightgray;
	margin: 1rem 1% 1rem 2%;
	transition: 1s;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) div:nth-of-type(6) > button:nth-of-type(2) {
	background-color: var(--color-background-dark);
	color: var(--color-background);
	padding: 1rem 16%;
	border-radius: 25px;
	border: none;
	margin: 1rem 2% 1rem 1% ;
	transition: 1s;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) div:nth-of-type(4) ul {
	display: grid;
    row-gap: 1rem;
	flex-direction: column;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
	padding: 0;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) div:nth-of-type(4) ul li {
	list-style: none;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) div:nth-of-type(4) ul li img {
	width: 24px;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) h1,
.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) h4,
label {
	font-size: var(--text-size-p);
	font-weight: 400;
	text-transform: none;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	margin-top: 0;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) label {
	display: flex;
	margin-bottom: 8px;
	gap: 5px;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) > button{
	margin: 0;
	position: fixed;
	background-color: var(--color-background);
	border: none;
	right: 1rem;
    top: 1rem;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(2) button img {
	width: 32px;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) > button {
	margin-left: auto;
	background-color: var(--color-background);
	color: var(--color-background-dark);
	border: none;
	display: flex;
	align-items: center;
	font-size: 20px;
	margin: 0 0 0 2rem;
}

/* bron https://stackoverflow.com/questions/5467605/add-a-space-after-an-element-using-after */

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) > button:first-of-type::before {
	content: "Toon\00a0" ;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details {
	margin-left: 1rem;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) button > img {
	width: 24px;
	margin-left: 1rem;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details summary {
	font-size: 20px;	
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details summary::after {
	content: "⋁"; 
	color: var(--color-background-dark);
	margin-left: 1rem;	
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details[open] summary::after {
	content: "⋀"; 
	color: var(--color-background-dark);
	margin-left: 1rem;	
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details summary::-webkit-details-marker,
.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details summary::marker   {
	display: none; 
	color: var(--color-background);
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details ul {
	background-color: var(--color-background);
	list-style: none;
	text-decoration: none;
	text-align: right;
	z-index: 2;
	position: absolute;
	border-radius: 0 0 0 30px;
	padding: 0 1rem 1rem 1rem;
	right: 0;
    width: 9rem;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details ul li {
	margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details ul li a {
	color: var(--color-background-dark);
}

.PageTwo section:nth-of-type(1) div:nth-of-type(1) div:nth-of-type(1) details summary img {
	width: 32px;
	margin-left: 10px;
}

.PageTwo section:nth-of-type(1) > div:nth-of-type(2){
	display: flex;
	gap: 2rem;
	overflow: auto;
	white-space: nowrap;
	padding-bottom: .2rem;
}

.PageTwo section:nth-of-type(1) div:nth-of-type(2) a {
	text-decoration: none;
	color: var(--color-background-dark);
}

.PageTwo hr:first-of-type {
	position: absolute;
	opacity: .4;
	width: 100%;
	margin: 0;
	top: 16.4rem;
	z-index: -1;
}

.PageTwo section:nth-of-type(2) {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: .6rem 4% 1rem 4%;
}

.PageTwo section:nth-of-type(2) p {
	color: grey;
	margin: 0;
	font-weight: 300;
}

.PageTwo section:nth-of-type(2) button {
	background-color: var(--color-background);
	color: var(--color-background-dark);
	border: 2px solid lightgray;
	border-radius: 25px;
	display: flex;
	align-items: center;
	padding: 1rem 1rem 1rem 1rem;
	max-height: 36px;
}

.PageTwo section:nth-of-type(2) button img {
	width: 24px;
	margin-left: 1rem;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) > div:nth-of-type(2) {
	display: flex;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) > div:nth-of-type(2) {
	width: 100%;
	display: grid;
	flex-direction: column;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(2) article {
	margin: 0;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(2) article img {
	width: 100%;
	height: auto;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(2) article h3 {
	margin: 1rem 0 0 1rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	color: var(--color-background-dark);
}

.PageTwo section:nth-of-type(3) div:nth-of-type(2) article h4 {
	color: var(--color-background-dark-grey);
	margin: .3rem 0 0 1rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(2) article p {
	font-size: 14px;
	margin: .3rem 0 1rem 1rem;
	color: var(--color-background-dark);
}

.PageTwo section:nth-of-type(3) > div:nth-of-type(1) div:nth-of-type(1) {
	visibility: hidden;
	position: absolute;
	transform:translatex(-107%);
	transition:transform .3s;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(1) {
	padding: 0 0 1.8rem 0;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(1) h4:nth-of-type(1) {
	margin-top: 0;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(2),
.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(3),
.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(4),
.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(5)  {
	padding: 0 0 1rem 0;
	border-top: 1px solid lightgray;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(4) ul {
	display: grid;
    row-gap: 1rem;
	flex-direction: column;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 0;
	transition:transform .3s;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(4) ul li {
	list-style: none;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(4) ul li img{
	width: 24px;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) label {
	display: flex;
	margin-bottom: 8px;
	gap: 5px;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(6) {
	background-color: var(--color-background);
	border-top: 1px solid lightgray;
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(6) > button:nth-of-type(1) {
	background-color: var(--color-background);
	color: var(--color-background-dark);
}

.PageTwo section:nth-of-type(3) div:nth-of-type(1) div:nth-of-type(1) section:nth-of-type(6) > button:nth-of-type(2) {
	background-color: var(--color-background-dark);
	color: var(--color-background);
}

/*************/
/* Footer */
/************/

footer {
	width: auto;
	background-color: var(--color-background-dark);
	padding: 6%;
	font-size: 0;
}

footer section:first-of-type {
	padding-bottom: 1rem;
	border-bottom: 1px solid darkgrey;
	margin-bottom: 2rem;
}

footer a {
	color: var(--color-background);
	margin-bottom: 5px;
}

footer h3 {
	font-size: 14px;
}

/* Bron: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details#a_simple_disclosure_example */

footer details {
	font-size: var(--text-size-p);
	width: 100%;
	margin-bottom: 3rem;
}
  
footer details > summary {
	color: var(--color-background);
	width: 100%;
	font-family: "Nike TG", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: var(--text-size-footer);
	cursor: pointer;
	list-style: none
}

/* bron https://justmarkup.com/articles/2020-09-22-styling-and-animation-details/ */

footer details summary::-webkit-details-marker {
	display: none; 
}

footer details summary {
	display: flex;
	min-width: 4rem;
	justify-content: space-between;
}

footer details summary::after { 
	content:"+"; 
	color: var(--color-background); 
	margin-left: 5rem;
}
  
footer details[open] summary::after { 
	content:"-"; 
	color: var(--color-background);
	margin-left: 5rem;
}

footer details > ul {
	padding: 0;
}

footer details > ul li {
	color: var(--color-background);
	list-style: none;
	margin-top: 10px;
	opacity: 0.5;
}
  
footer details > ul li a {
	font-size: 12px;
	color: var(--color-background);
}

footer section:nth-of-type(3) {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: 3rem;
	gap: 16px;
	flex-wrap: wrap;
}

footer section img {
	width: 30px;
	opacity: 0.5;
}

footer section:last-of-type {
	flex-direction: column;
    display: flex;
}

footer section:last-of-type a {
	color: var(--color-background);
	font-size: var(--text-size-small);
	opacity: 0.5;
	margin-bottom: 2rem;
}

/****************/
/* @MEDIA que */
/****************/

@media (min-width:38rem) {

	/*************/
	/* Section 4 */
	/************/

	/* bron-code: studentenassistent */

	.PageOne section:nth-of-type(4) ul {
		grid-template-columns: repeat(2, 1fr);
	}

	.PageOne section:nth-of-type(4) ul li {
		grid-column-start: 2;
		grid-column-end: 3;
	}

	.PageOne section:nth-of-type(4) ul li:first-child {
		grid-column: span 1;
		grid-row: span 2;
	}

	/*************/
	/* Section 7 */
	/************/

	.PageOne section:nth-of-type(7) ul {
		column-count: 2;
	}

	.PageOne section:nth-of-type(7) ul li {
		grid-row-start: 1;
		grid-row-end: 2;
	}

	footer {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 6%;
		align-items: start;
	}

	footer section {
		min-width: 3rem
	}

	footer section:first-of-type {
		padding-bottom: 0rem;
		border-bottom: 0px solid darkgrey;
		margin-bottom: 0rem;
	}

	footer section h3:first-of-type,
	footer section p:first-of-type,
	.PageOne section:nth-of-type(2),
	.PageOne section:nth-of-type(4) {
		margin-top: 0;
	}
}

@media (min-width:60rem) {

	header:first-of-type,
	header:nth-of-type(2) nav:nth-of-type(2),
	.PageTwo section:nth-of-type(1) div:first-of-type div,
	.PageTwo section:nth-of-type(1) div:nth-of-type(1) > div:nth-of-type(1) {
		display: flex;
	}

	header:nth-of-type(2) nav:nth-of-type(1),
	.PageTwo section:nth-of-type(1) div:nth-of-type(2),
	.PageTwo hr:first-of-type,
	.PageTwo section:nth-of-type(2) {
		display: none;
	}
	.PageTwo section:nth-of-type(1) > div:nth-of-type(1) {
		margin-bottom: 6px;
	}

	.PageTwo section:nth-of-type(3) div:nth-of-type(1) > div:nth-of-type(2) {
		grid-template-columns: repeat(3, 1fr);
		transition:transform .3s;
	}

	.PageTwo section:nth-of-type(1) div:first-of-type h2 {
		font-size: 24px;
	}

	.PageTwo section:nth-of-type(1) h2::after {
		content: " (69)";
	}

	.PageTwo {
		margin: 4%;
	}

	.PageTwo section:nth-of-type(1) {
		margin: 0;
	}
}
